body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 75%;
}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(rgb(241, 210, 152), rgb(233, 51, 18));
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 42%;
    margin-left: 4%;
    margin-right: 4%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px grey;
    border-left: 10px solid;
}
#web-dev-experience{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#full-stack-dev{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
   